@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        font-family: Overpass, sans-serif;
    }

    :root {
        /* For hsl(198deg 93% 60% / <alpha-value>) */
        --color-primary: 25deg 97% 53%;
        --color-lightgray: 217deg 12% 63%;
        --color-mediumgray: 216deg 12% 54%;
        --color-cleardarkblue: 213deg 15% 22%;
        --color-darkblue: 213deg 19% 18%;
        --color-verydarkblue: 216deg 12% 8%;
    }
}

.selected-item {
    @apply bg-mediumgray text-white;
}
